# Source
src/
__tests__/
coverage/
example/

# Config files
.prettierrc
tsconfig.json
jest.config.js
*.config.js

# Dev files
*.log
.DS_Store
.env
.env.*

# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo